<%- include('./partials/head') %>

<main>
  <section class="sidebar">
    <section class="logo">
      <a href="/?squad=squad-a-2022">
        <img src="/assets/icons/FDND-Tribe.svg" alt="FDND logo" />
      </a>
    </section>

    <section class="search-container">
      <form action="">
        <input type="text" placeholder="Zoek" name="search" class="seach" />
      </form>
    </section>
    <a href="/?squad=squad-a-2022" class="squads">Squad A</a>
    <a href="/?squad=squad-b-2022" class="squads">Squad B</a>
    <a href="/?squad=squat-c-2022" class="squads">Squad C</a>
  </section>
  <section class="topbar">
    <section class="topbar-main"></section>
  </section>
  <section class="content">
    <h1>FDND <%= squad.name %></h1>

    <hr />

    <span> Sorteren op: </span>
    <span>
      <a
        href="/?squad=<%= squad.slug %>&orderBy=name&orderDirection=desc"
        class="sort-link"
      >
        Naam
      </a>
    </span>

    <span>
      <a href="/?squad=<%= squad.slug %>&orderBy=surname" class="sort-link">
        Achternaam
      </a>
    </span>

    <hr />
    <section class="member">
      <!-- Hier komen de members -->
      <% squad.members.forEach(member => { %>
      <article class="member-info">
        <% if (member.avatar) { %>
        <img
          src="<%= member.avatar %>"
          alt="De avatar van <%= member.name %>"
        />
        <% }else{ %>
        <img src="/assets/placeholder.jpg" alt="Placeholder avatar" />
        <% } %>

        <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
      </article>
      <% }) %>
    </section>
  </section>
</main>

<%- include('./partials/foot') %>
